.cards {
  padding: 20px 0 40px;
  border-bottom: #21212166 1px solid;
}

.cards__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
}

@media screen and (max-width: 630px) {
  .cards {
    padding: 20px 0;
  }

  .cards__list {
    row-gap: 20px;
  }
}
