.page {
  margin: 0;
  padding: 0;
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 16px;
  color: #212121;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
