.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: #21212166 1px solid;
}

.profile__image {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 8px;
}

.profile__content {
  max-width: 420px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  max-width: 420px;
  margin: 0;
  font-size: 16px;
  opacity: 70%;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  font-weight: 500;
  border: none;
  padding: 0;
  margin: auto 0 0;
  font-size: 16px;
  line-height: 1;
  opacity: 70%;
  color: #212121;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.profile__edit-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__pencil-image {
  margin: 0 8px 0 0;
}

.profile__add_container {
  margin-left: auto;
  align-self: flex-end;
}
/* the margin-top and margin-left with value auto, didn't work to move the button..
although it may be unnecessary... it works to move the button.*/

.profile__add-button {
  width: 149px;
  height: 52px;
  margin: auto 0 0 auto;
  padding: 0;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  color: #fcf5ef;
  font-size: 16px;
  line-height: 1;
}

.profile__add-button:hover {
  opacity: 80%;
  cursor: pointer;
}

.profile__plus-image {
  width: 12px;
  height: 12px;
  margin: 0 8px 0 0;
}

@media screen and (max-width: 630px) {
  .profile {
    max-width: 288px;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 0;
  }

  .profile__image {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  .profile__content {
    max-width: 271px;
    margin: 0 auto;
  }

  .profile__name {
    font-size: 20px;
    margin: 12px 0 6px;
    text-align: center;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 32px;
    max-width: 288px;
  }

  .profile__add_container {
    display: flex;
    margin: 0;
    align-self: center;
  }
  /* this selector works to get the button in place, which prevents the
  horizontal scroll bar and keeps the button at 288px width.*/

  .profile__edit-button {
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .profile__add-button {
    width: 288px;
    margin-bottom: 20px;
  }
}
