.profile {
  display: flex;
  padding-bottom: 20px;
  border-bottom: #21212166 1px solid;
}

.profile__image {
  width: 190px;
  height: 190px;
}

.profile__content {
  width: 420px;
  height: 190px;
  margin-left: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__title {
  margin: 0 0 12px;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
}

.profile__subtitle {
  max-width: 97px;
  margin: 0 0 114px;
  font-size: 16px;
  opacity: 70%;
}

.profile__button {
  padding: 0;
  margin: 0;
  border: none;
  margin-left: auto;
  align-self: flex-end;
}

.profile__button-edit {
  width: 107px;
  height: 16px;
  border: none;
  padding: 0;
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 1;
  opacity: 70%;
  display: flex;
  align-items: center;
  background-color: #fcf5ef;
}

.profile__button-edit:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__button_image-pencil {
  margin: 0 8px 0 0;
}

.profile__button-add {
  width: 149px;
  height: 52px;
  padding: 0;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  color: #fcf5ef;
  font-size: 16px;
  line-height: 1;
}

.profile__button-add:hover {
  opacity: 80%;
  cursor: pointer;
}

.profile__button_image-plus {
  width: 12px;
  height: 12px;
  margin: 0 8px 0 0;
  border: 2px;
}

@media screen and (max-width: 630px) {
  .profile {
    max-width: 288px;
    max-height: 274px;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .profile__image {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  .profile__content {
    width: 271px;
    margin: 0 auto;
  }

  .profile__title {
    font-size: 20px;
    margin: 12px 0 6px;
    text-align: center;
  }

  .profile__subtitle {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 32px;
  }

  .profile__button {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    width: 288px;
    margin: 0;
  }

  .profile__button-edit {
    margin: 0;
  }

  .profile__button-edit:hover {
    opacity: 70%;
    cursor: none;
  }

  .profile__button-add {
    width: 288px;
    margin-left: 16px;
  }

  .profile__button-add:hover {
    opacity: 100%;
    cursor: none;
  }
}
