.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  background-color: #d9d9d9;
}

.card__content {
  max-width: 413px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.card__caption {
  max-width: 337px;
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/Like-Icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 23px;
  height: 20px;
  padding: 0;
  border: none;
  opacity: 0.5;
}

.card__like-button:hover {
  color: #212121;
  opacity: 1;
  cursor: pointer;
  background-color: transparent;
}

.card__like-button_liked {
  background-image: url(../images/Like-liked.svg);
  opacity: 1;
  background-color: transparent;
}

.card__like-button_liked:hover {
  background-image: url(../images/Liked-hover.svg);
}

.card__delete-button {
  background-image: url(../images/Delete-Icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card__delete-button:hover {
  background-image: url(../images/Delete-hover.svg);
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .card {
    max-width: 288px;
    margin: 0 auto;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__caption {
    max-width: 250px;
    font-size: 16px;
    line-height: 1;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
