.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 32px 50px;
  position: relative;
  max-width: 730px;
  width: 100%;
}

.modal__container_type_preview {
  padding: 0;
  position: relative;
  background-color: transparent;
  width: auto;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
}

.modal__title {
  margin: 0 0 32px;
  line-height: 1;
  font-weight: 500;
  font-size: 32px;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Close-icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  opacity: 0.5;
  padding: 0;
}

.modal__close-button:hover {
  color: #212121;
  opacity: 1;
  cursor: pointer;
}

.modal__close-button-preview {
  background-image: url(../images/Close-Icon-preview.svg);
  background-color: transparent;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  right: -40px;
  top: 0;
}

.modal__close-button-preview:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 32px;
  color: #212121;
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 500;
}

.modal__caption {
  border-radius: 8px;
  color: #ffffff;
  background-color: #212121;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin: 8px 0 0;
  padding: 4px 8px;
  width: fit-content;
}

.modal__input {
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  border-radius: 8px;
  border-color: #21212166;
}

.modal__input_type_error {
  border: 1px solid #ff0000;
  opacity: 0.6;
}

.modal__input:hover {
  border-color: #212121;
  cursor: pointer;
}

.modal__input_type_error:hover {
  border-color: #ff0000;
}

.modal__error {
  color: #ff0000;
  opacity: 0.7;
}

.modal__save-button {
  color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  background-color: #212121;
  border-radius: 8px;
  border: none;
  width: 156px;
  padding: 18px 56px;
  cursor: pointer;
}

.modal__save-button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.modal__save-button_inactive {
  opacity: 0.5;
}

.modal__save-button_inactive:hover {
  opacity: 0.5;
}

@media screen and (min-width: 915px) and (max-width: 1440px) and (orientation: landscape) {
  .modal__container_type_preview {
    max-width: 991px;
  }
}

@media screen and (min-width: 376px) and (max-width: 629px) and (orientation: landscape) {
  .modal {
    padding: 0 12px;
  }

  .modal__container {
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px;
    width: 0%;
  }

  .modal__container_type_preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .modal__image {
    max-width: 90vw;
    max-height: 70vh;
    display: block;
    margin: 0 auto;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__close-button-preview {
    right: -8px;
    top: -35px;
  }
}

@media screen and (min-width: 425px) and (max-width: 425px) {
  .modal__container {
    max-width: 390px;
  }
}

@media screen and (max-width: 375px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px;
  }

  .modal__container_type_preview {
    padding: 0;
  }

  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
    padding: 10px 0;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  /* I am not seeing the close button issue on my laptop in DevTools...*/
  .modal__close-button-preview {
    top: -35px;
    right: -8px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__save-button {
    width: 100%;
  }
}

@media screen and (max-width: 375px) and (orientation: landscape) {
  .modal__close-button-preview {
    right: 30px;
    top: -40px;
  }
}
