.card {
  max-width: 413px;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  background-color: #d9d9d9;
}

.card__caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 12px 0 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__icon {
  width: 23px;
  height: 20px;
  border: 2px;
  border-color: #212121;
  opacity: 40%;
}

.card__icon:hover {
  color: #212121;
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .card {
    width: 288px;
    margin: 0 auto;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__caption {
    font-size: 16px;
    line-height: 1;
  }

  .card__icon {
    width: 20px;
    height: 18px;
  }

  .card__icon:hover {
    opacity: 40%;
    cursor: none;
  }
}
